aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #3C81C1 url(../img/cargando.png) center no-repeat;
  z-index: 99;
}

/* preloader*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon.hair:before {
  content: "\e900";
}

.icon.skin:before {
  content: "\e901";
}

.icon.eyes:before {
  content: "\e902";
}

.icon.nose:before {
  content: "\e903";
}

.icon.mouth:before {
  content: "\e904";
}

.icon.pet:before {
  content: "\e905";
}

.icon.male:before {
  content: "\e906";
}

.icon.female:before {
  content: "\e907";
}

.icon.baby:before {
  content: "\e908";
}

.icon.triangle-left:before {
  content: "\f044";
}

.icon.triangle-right:before {
  content: "\f05a";
}

.icon.undo2:before {
  content: "\e909";
}

.icon.arrow-left:before {
  content: "\e90a";
}

.icon.chevron-down:before {
  content: "\f0a3";
}

.icon.chevron-left:before {
  content: "\f0a4";
}

.icon.chevron-right:before {
  content: "\f078";
}

.icon.chevron-up:before {
  content: "\f0a2";
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: #1f67ac;
}

main {
  background-color: #1f67ac;
  font-family: "Montserrat", helvetica, sans-serif, verdana;
  text-align: center;
  background: -webkit-radial-gradient(#41afd7, #1f67ac 70%);
  background: radial-gradient(#41afd7, #1f67ac 70%);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 500ms;
          transition: 500ms;
  cursor: pointer;
}

button, .btn {
  cursor: pointer;
  -webkit-transition: 500ms;
          transition: 500ms;
  border: none;
  outline: none;
}

h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1pt;
  font-size: 44pt;
}

p {
  color: #fff;
  font-weight: 400;
  letter-spacing: 1pt;
  font-size: 19pt;
  margin: 0;
}

small {
  color: #124c83;
  font-size: 12pt;
  letter-spacing: 1pt;
  display: block;
  margin: 8px;
}

strong {
  color: #f4d242;
  font-size: 39pt;
  display: block;
}

header {
  position: absolute;
  top: 20px;
  right: 0;
}

section {
  padding-top: 270px;
  padding-bottom: 90px;
  display: none;
  width: 90%;
  margin: auto;
}

section.active {
  display: block;
}

/* -------------------- class */
.btn {
  font: 700 14pt "Montserrat", helvetica, sans-serif, verdana;
  background: #f4d242;
  width: 130px;
  display: inline-block;
  margin: 50px 8px 0;
  padding: 10px;
  color: #0168b3;
  border: none;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.15);
}

.btn:hover {
  background-color: #fff;
}

/* -------------------- sections */
#home
img {
  position: fixed;
  bottom: -100%;
  right: 5%;
  width: 95%;
  z-index: -1;
}

#home
h1 {
  max-width: 570px;
  margin: auto;
}

#home
.info {
  display: none;
}

#form
form {
  margin-top: 50px;
}

#form
p {
  max-width: 500px;
  margin: auto;
}

#form
label {
  font-size: 0;
  display: block;
  margin: 20px;
  letter-spacing: 1pt;
}

#form
span {
  font-size: 11pt;
  background: #1461aa;
  color: #f4d242;
  text-transform: capitalize;
  display: inline-block;
  width: 140px;
  padding: 8px 0;
}

#form
input[type="text"] {
  font-size: 11pt;
  padding: 8px;
  border: none;
  width: 275px;
  outline-color: #f4d242;
  letter-spacing: 1pt;
}

#choose
.characters {
  margin-top: 30px;
}

#choose
.characters
button {
  background: transparent;
  color: #f4d242;
  font-size: 110pt;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}

#choose
.characters
button:hover {
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.25);
  color: #42a3dc;
}

#choose
.characters
button.male,
#choose
.characters
button.woman {
  width: 68px;
}

#choose
.characters
button.male:before
,
#choose
.characters
button.woman:before {
  margin-left: -45px;
}

#choose
.characters
button.baby,
#choose
.characters
button.pet {
  width: 88px;
  height: 129px;
  vertical-align: bottom;
}

#choose
.characters
button.baby:before
,
#choose
.characters
button.pet:before {
  margin-left: -35px;
}

.box {
  display: inline-block;
  max-width: 500px;
  vertical-align: top;
}

.edit
.avatar {
  margin-top: -80px;
  width: 350px;
  height: 600px;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
}

.edit
.avatar
img {
  position: absolute;
  z-index: 3;
}

.edit.male.old .avatar
.hair {
  top: 3px;
  left: 92px;
}

.edit.male.old .avatar
.eyes {
  top: 80px;
  left: 114px;
}

.edit.male.old .avatar
.nose {
  top: 104px;
  left: 127px;
}

.edit.male.old .avatar
.mouth {
  top: 135px;
  left: 132px;
}

.edit.male.old .avatar
.skin {
  top: 82px;
  left: 85px;
  z-index: 0;
}

.edit.male.teen .avatar
.hair {
  top: 85px;
  left: 94px;
}

.edit.male.teen .avatar
.eyes {
  top: 145px;
  left: 99px;
}

.edit.male.teen .avatar
.nose {
  top: 179px;
  left: 123px;
}

.edit.male.teen .avatar
.mouth {
  top: 217px;
  left: 132px;
}

.edit.male.teen .avatar
.skin {
  top: 154px;
  left: 85px;
  z-index: 0;
}

.edit.male.child .avatar
.hair {
  top: 224px;
  left: 89px;
}

.edit.male.child .avatar
.eyes {
  top: 301px;
  left: 114px;
}

.edit.male.child .avatar
.nose {
  top: 328px;
  left: 128px;
}

.edit.male.child .avatar
.mouth {
  top: 356px;
  left: 138px;
}

.edit.male.child .avatar
.skin {
  top: 292px;
  left: 90px;
  z-index: 0;
}

.edit.female.old .avatar
.hair {
  top: 10px;
  left: 60px;
}

.edit.female.old .avatar
.eyes {
  top: 67px;
  left: 114px;
}

.edit.female.old .avatar
.nose {
  top: 92px;
  left: 125px;
}

.edit.female.old .avatar
.mouth {
  top: 127px;
  left: 134px;
}

.edit.female.old .avatar
.tool {
  top: 196px;
  left: 131px;
}

.edit.female.old .avatar
.skin {
  top: 63px;
  left: 85px;
  z-index: 0;
}

.edit.female.teen .avatar
.hair {
  top: 94px;
  left: 60px;
}

.edit.female.teen .avatar
.eyes {
  top: 151px;
  left: 114px;
}

.edit.female.teen .avatar
.nose {
  top: 176px;
  left: 125px;
}

.edit.female.teen .avatar
.mouth {
  top: 211px;
  left: 134px;
}

.edit.female.teen .avatar
.skin {
  top: 152px;
  left: 85px;
  z-index: 0;
}

.edit.female.child .avatar
.hair {
  top: 232px;
  left: 60px;
}

.edit.female.child .avatar
.eyes {
  top: 289px;
  left: 114px;
}

.edit.female.child .avatar
.nose {
  top: 314px;
  left: 125px;
}

.edit.female.child .avatar
.mouth {
  top: 344px;
  left: 134px;
}

.edit.female.child .avatar
.skin {
  top: 293px;
  left: 95px;
  z-index: 0;
}

.edit.pet .avatar
.skin {
  top: 288px;
  left: 95px;
}

.edit
.tools {
  width: 430px !important;
}

.edit
.controls
hr {
  border: 2px solid #fff;
  margin-top: -22px;
  width: 240px;
}

.edit
.controls
button {
  border: none;
  background: #fff;
  color: #f4d242;
  font-size: 24pt;
  -webkit-transition: 500ms;
          transition: 500ms;
  border-radius: 50%;
  padding: 5px;
  margin: 0 10px;
}

.edit
.controls
button:hover, .edit
.controls
button.active {
  background: #f4d242;
  color: #fff;
}

.edit
.ageControls
button {
  margin-top: 30px;
  color: #0168B3;
  width: 70px;
  height: 70px;
  vertical-align: top;
  border-radius: 37%;
  background-color: #F6DB50;
  -webkit-transition: 500ms;
          transition: 500ms;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12);
}

.edit
.ageControls
button:hover {
  border-radius: 15%;
  background-color: #3AA1CF;
  color: #F6DB50;
}

.edit
.ageControls
.old {
  font-size: 45pt;
}

.edit
.ageControls
.teen {
  font-size: 36pt;
}

.edit
.ageControls
.child {
  font-size: 28pt;
}

.edit
.tabs {
  margin-bottom: 30px;
}

.edit
.tabs
div {
  display: none;
}

.edit
.tabs
div.active {
  display: block;
}

.edit
.tabs
a {
  display: inline-block;
  width: 110px;
  vertical-align: top;
  border: 3px solid #2471B2;
  border-radius: 25px;
  margin: 13px;
}

.edit
.tabs
a:hover, .edit
.tabs
a.active {
  border: 3px solid #f4d242;
}

.edit
.tabs
.skin
img {
  margin: 4px 0px 1px;
}

.edit
.tabs .hair
img
,
.edit
.tabs .eyes
img
,
.edit
.tabs .mouth
img
,
.edit
.tabs .nose
img
,
.edit
.tabs .tool
img
,
.edit
.tabs
.skin
img {
  width: 100px;
}

#preview
button.icon {
  font-size: 45pt;
  background-color: transparent;
  color: #f4d242;
  vertical-align: 203px;
  -webkit-transition: 500ms;
          transition: 500ms;
}

#preview
button.icon:hover {
  color: #fff;
}

#preview
p {
  margin-bottom: 30px;
}

#preview
.compos {
  position: relative;
  width: 782px;
  height: 440px;
  display: inline-block;
  margin: auto;
}

#preview
.compos
img {
  position: absolute;
}

#preview
.compos
.base {
  top: 0;
  left: 0;
  height: 440px;
  z-index: 0;
}

#preview
.compos
.ch.back {
  top: 95px;
  width: 100px;
  z-index: 1;
}

#preview
.compos
.ch.front {
  top: 95px;
  width: 120px;
  z-index: 2;
}

.mobile {
  display: none;
}

.mobile
a {
  border: 5px solid transparent;
  border-radius: 15px;
  margin: 10px;
  display: inline-block;
  padding: 10px;
  -webkit-transition: 500ms;
          transition: 500ms;
}

.mobile
a.active,
.mobile
a:hover {
  border: 5px solid #f4d242;
}

@media screen and (max-width: 1000px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .edit .tools {
    width: 280px !important;
  }
  .edit .controls button {
    font-size: 16pt;
  }
  #share img {
    width: 260px;
  }
}
