section.edit.female.old
	.box.avatar
		img(src="img/characters/female/old/hair_01.png").hair
		img(src="img/characters/female/old/eyes_01.png").eyes
		img(src="img/characters/female/old/nose_01.png").nose
		img(src="img/characters/female/old/mouth_01.png").mouth
		img(src="img/characters/female/old/skin_01.png").skin
		img(src="img/characters/female/old/tool_01.png").tool
	.box.tools
		p Personaliza tus mineros
		.tabPanel
			.tabs
				.skin.active
					strong color de piel
					a.active: img(src="img/characters/color_01.png")
					a: img(src="img/characters/color_02.png")
					a: img(src="img/characters/color_03.png")
				.hair
					strong peinado
					a.active: img(src="img/characters/female/old/hair_01.png")
					a: img(src="img/characters/female/old/hair_02.png")
					a: img(src="img/characters/female/old/hair_03.png")
					a: img(src="img/characters/female/old/hair_04.png")
					a: img(src="img/characters/female/old/hair_05.png")
					a: img(src="img/characters/female/old/hair_06.png")
					a: img(src="img/characters/female/old/hair_07.png")
					a: img(src="img/characters/female/old/hair_08.png")
					a: img(src="img/characters/female/old/hair_09.png")
				.eyes
					strong ojos
					a.active: img(src="img/characters/female/old/eyes_01.png")
					a: img(src="img/characters/female/old/eyes_02.png")
					a: img(src="img/characters/female/old/eyes_03.png")
					a: img(src="img/characters/female/old/eyes_04.png")
				.nose
					strong nariz
					a.active: img(src="img/characters/female/old/nose_01.png")
					a: img(src="img/characters/female/old/nose_02.png")
					a: img(src="img/characters/female/old/nose_03.png")
				.mouth
					strong boca
					a.active: img(src="img/characters/female/old/mouth_01.png")
					a: img(src="img/characters/female/old/mouth_02.png")
					a: img(src="img/characters/female/old/mouth_03.png")
					a: img(src="img/characters/female/old/mouth_04.png")
					a: img(src="img/characters/female/old/mouth_05.png")
			+controls("female")
		button.btn.cancel Cancelar
		button.btn.add Agregar

section.edit.female.teen
	.box.avatar
		img(src="img/characters/female/teen/hair_01.png").hair
		img(src="img/characters/female/teen/eyes_01.png").eyes
		img(src="img/characters/female/teen/nose_01.png").nose
		img(src="img/characters/female/teen/mouth_01.png").mouth
		img(src="img/characters/female/teen/skin_01.png").skin
	.box.tools
		p Personaliza tus mineros
		.tabPanel
			.tabs
				.skin.active
					strong color de piel
					a.active: img(src="img/characters/color_01.png")
					a: img(src="img/characters/color_02.png")
					a: img(src="img/characters/color_03.png")
				.hair
					strong peinado
					a.active: img(src="img/characters/female/teen/hair_01.png")
					a: img(src="img/characters/female/teen/hair_02.png")
					a: img(src="img/characters/female/teen/hair_03.png")
					a: img(src="img/characters/female/teen/hair_04.png")
					a: img(src="img/characters/female/teen/hair_05.png")
					a: img(src="img/characters/female/teen/hair_06.png")
					a: img(src="img/characters/female/teen/hair_07.png")
					a: img(src="img/characters/female/teen/hair_08.png")
					a: img(src="img/characters/female/teen/hair_09.png")
				.eyes
					strong ojos
					a.active: img(src="img/characters/female/teen/eyes_01.png")
					a: img(src="img/characters/female/teen/eyes_02.png")
					a: img(src="img/characters/female/teen/eyes_03.png")
					a: img(src="img/characters/female/teen/eyes_04.png")
				.nose
					strong nariz
					a.active: img(src="img/characters/female/teen/nose_01.png")
					a: img(src="img/characters/female/teen/nose_02.png")
					a: img(src="img/characters/female/teen/nose_03.png")
				.mouth
					strong boca
					a.active: img(src="img/characters/female/teen/mouth_01.png")
					a: img(src="img/characters/female/teen/mouth_02.png")
					a: img(src="img/characters/female/teen/mouth_03.png")
					a: img(src="img/characters/female/teen/mouth_04.png")
					a: img(src="img/characters/female/teen/mouth_05.png")
			+controls("female")
		button.btn.cancel Cancelar
		button.btn.add Agregar

section.edit.female.child
	.box.avatar
		img(src="img/characters/female/child/hair_01.png").hair
		img(src="img/characters/female/child/eyes_01.png").eyes
		img(src="img/characters/female/child/nose_01.png").nose
		img(src="img/characters/female/child/mouth_01.png").mouth
		img(src="img/characters/female/child/skin_01.png").skin
	.box.tools
		p Personaliza tus mineros
		.tabPanel
			.tabs
				.skin.active
					strong color de piel
					a.active: img(src="img/characters/color_01.png")
					a: img(src="img/characters/color_02.png")
					a: img(src="img/characters/color_03.png")
				.hair
					strong peinado
					a.active: img(src="img/characters/female/child/hair_01.png")
					a: img(src="img/characters/female/child/hair_02.png")
					a: img(src="img/characters/female/child/hair_03.png")
					a: img(src="img/characters/female/child/hair_04.png")
					a: img(src="img/characters/female/child/hair_05.png")
					a: img(src="img/characters/female/child/hair_06.png")
					a: img(src="img/characters/female/child/hair_07.png")
					a: img(src="img/characters/female/child/hair_08.png")
					a: img(src="img/characters/female/child/hair_09.png")
				.eyes
					strong ojos
					a.active: img(src="img/characters/female/child/eyes_01.png")
					a: img(src="img/characters/female/child/eyes_02.png")
					a: img(src="img/characters/female/child/eyes_03.png")
					a: img(src="img/characters/female/child/eyes_04.png")
				.nose
					strong nariz
					a.active: img(src="img/characters/female/child/nose_01.png")
					a: img(src="img/characters/female/child/nose_02.png")
					a: img(src="img/characters/female/child/nose_03.png")
				.mouth
					strong boca
					a.active: img(src="img/characters/female/child/mouth_01.png")
					a: img(src="img/characters/female/child/mouth_02.png")
					a: img(src="img/characters/female/child/mouth_03.png")
					a: img(src="img/characters/female/child/mouth_04.png")
					a: img(src="img/characters/female/child/mouth_05.png")
			+controls("female")
		button.btn.cancel Cancelar
		button.btn.add Agregar