section.edit.male.old
	.box.avatar
		img().hair
		img().eyes
		img().nose
		img().mouth
		+skins("old")
	+tools

section.edit.female.adult
	.box.avatar
		img().hair
		img().eyes
		img().nose
		img().mouth
		img().baby
		+skins("adult")
	+tools

section.edit.male.teen
	.box.avatar
		img().hair
		img().eyes
		img().nose
		img().mouth
		+skins("teen")
	+tools

section.edit.male.child
	.box.avatar
		img().hair
		img().eyes
		img().nose
		img().mouth
		+skins("child")
	+tools