section.edit.pet.child
  .box.avatar
    +skins("pet")
  .box.tools
    p Personaliza tus mineros
    .tabPanel
      .tabs
        .skin.active
          strong mascotas
          a.active: img(src="img/pet_skin_01_pv.png")
          a: img(src="img/pet_skin_02_pv.png")
          a: img(src="img/pet_skin_03_pv.png")

    button.btn.cancel Cancelar
    button.btn.add Agregar