section#form
  p Registra tus datos para usar la aplicación
  form
    label
      span nombre:
      input(type="text")
    label
      span apellido:
      input(type="text")
    label
      span cédula:
      input(type="text")
    label
      span teléfono:
      input(type="text")
    label
      span e-mail:
      input(type="text")
    input(type="button", value="Registrar").btn.next