section#preview
  p Selecciona el fondo de tu preferencia

  .desktop
    button.icon.triangle-left
    .compos
      img(src="img/background/bk_01.png").active
      img(src="img/background/bk_02.png")
      img(src="img/background/bk_03.png")
    button.icon.triangle-right

  .mobile
    a.active: img(src="img/background/bk_01_pv.png")
    a: img(src="img/background/bk_02_pv.png")
    a: img(src="img/background/bk_03_pv.png")

  .controls
    button.btn.back Volver
    button.btn.next Finalizar