section#share
  .box
    img(src="img/family.png" alt="portada")
  .box
    p ¡Comparte tu familia minerizada y participa para ganar premios!
    small o descarga la imagen como fondo de pantalla
    button.btn.back Editar
    button.btn Comparte
    button.btn Descarga