$sansFont: helvetica, sans-serif, verdana;
$customFont: "Montserrat", $sansFont;

$yellowBrand: #f4d242;

$buttonBackground: $yellowBrand;
$buttonTextColor: #0168b3;

aside {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #3c81c1 url(../img/cargando.png) center no-repeat;
	z-index: 99;
}

$lighBlue: #41afd7;
$darkBlue: #1f67ac;

body,
html {
	padding: 0;
	margin: 0;
	background-color: #{$darkBlue};
}

main {
	background-color: #{$darkBlue};
	font-family: $customFont;
	text-align: center;
	background: -webkit-radial-gradient(#{$lighBlue}, #{$darkBlue} 70%);
	background: -o-radial-gradient(#{$lighBlue}, #{$darkBlue} 70%);
	background: -moz-radial-gradient(#{$lighBlue}, #{$darkBlue} 70%);
	background: radial-gradient(#{$lighBlue}, #{$darkBlue} 70%);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

a {
	text-decoration: none;
	color: inherit;
	transition: 500ms;
	cursor: pointer;
}

button,
.btn {
	cursor: pointer;
	transition: 500ms;
	border: none;
	outline: none;
}

h1 {
	color: #fff;
	font-weight: 700;
	letter-spacing: 1pt;
	font-size: 44pt;
}

p {
	color: #fff;
	font-weight: 400;
	letter-spacing: 1pt;
	font-size: 19pt;
	margin: 0;
}

small {
	color: #124c83;
	font-size: 12pt;
	letter-spacing: 1pt;
	display: block;
	margin: 8px;
}

strong {
	color: $yellowBrand;
	font-size: 39pt;
	display: block;
}

header {
	position: absolute;
	top: 20px;
	right: 0;
}

section {
	padding-top: 180px;
	padding-bottom: 90px;
	display: none;
	width: 90%;
	margin: auto;
	&.active {
		display: block;
	}
}

/* -------------------- class */

.btn {
	font: 700 14pt $customFont;
	background: $buttonBackground;
	width: 130px;
	display: inline-block;
	margin: 50px 8px 0;
	padding: 10px;
	color: $buttonTextColor;
	border: none;
	box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.15);

	&:hover {
		background-color: #fff;
	}
}

.box {
	display: inline-block;
	max-width: 500px;
	vertical-align: top;
}

.box.avatar {
	> .skin {
		display: none;
		&.active {
			display: block;
		}
	}
}

@import "~@fontsource/montserrat/latin-300.css";
@import "~@fontsource/montserrat/latin-400.css";
@import "~@fontsource/montserrat/latin-600.css";

@import "icomoon";
@import "mobile";

@import "views/home";
@import "views/form";
@import "views/choose";
@import "views/edit";
@import "views/preview";